.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

::ng-deep.box {
    border: 1px solid !important;
}

.game-layout {
    width: 100%;
    text-align: center;
    width: 100%;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: grid;
}

.layout {
    height: 100vh;
    overflow: hidden !important;
}

.text-center {
    text-align: center;
}

p{
    font-size: xx-large;
    font-weight: 600;
}