<div class="layout">
    <h1 class="text-center py-3">Play The Game 🎉 </h1>
    <div class="col text-center" *ngIf="!isMobile">
        <img src="https://images.vexels.com/media/users/3/153199/isolated/preview/c0facb164c02a5815d7efea4eb898a98-keyboard-arrow-keys-stroke-icon-by-vexels.png"
            alt="arrowIcon" width="120px" class="mr-2 mb-2">
    </div>
    <div class="game-layout">
        <div class="wrapper">
        </div>
        <p class="pt-3">
            Total moves: {{stepsCount}}
        </p>
        <p>
            Fruit Consumed: {{fruitConsumed}}
        </p>
    </div>
    <div class="col text-center p-0">
        <h3 class="text-center" *ngIf="fruitConsumed === totalFruits?.length">Hurry !, You successfully completed 🎉
        </h3>
        <button type="text" *ngIf="fruitConsumed === totalFruits?.length" class="btn m-2" (click)="play()">Play
            Again</button>
        <button type="text" *ngIf="fruitConsumed === totalFruits?.length" class="btn m-2"
            routerLink="/home">HOME</button>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <div class="keyboard" [style.position]="fruitConsumed === totalFruits?.length ? 'relative' :''" *ngIf="isMobile">
            <div class="top-arrow" (click)="keyboardAction('top')">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-up-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="16 12 12 8 8 12"></polyline>
                    <line x1="12" y1="16" x2="12" y2="8"></line>
                </svg>
            </div>
            <div class="right-arrow" (click)="keyboardAction('right')">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-right-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 16 16 12 12 8"></polyline>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
            </div>
            <div class="down-arrow" (click)="keyboardAction('down')">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-down-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="8 12 12 16 16 12"></polyline>
                    <line x1="12" y1="8" x2="12" y2="16"></line>
                </svg>
            </div>
            <div class="left-arrow" (click)="keyboardAction('left')">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-left-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 8 8 12 12 16"></polyline>
                    <line x1="16" y1="12" x2="8" y2="12"></line>
                </svg>
            </div>
        </div>
    </div>
</div>