<div class="w-100">
    <h1 class="p-5">WELCOME TO FOX GAME</h1>
    <p class="logoGame">
        <a class="fox">😻</a>
        <a class="fruit">&#10086;</a>
    </p>
    <div class="col p-0">
        <p>Grid Dimension (cols x rows)</p>
        <input singleDigitOnly class="customInput" id="column" type="text" maxlength="1" placeholder="Col" value="5">
        X
        <input singleDigitOnly class="customInput" id="row" type="text" maxlength="1" placeholder="Row" value="4">
    </div>
    <button type="text" class="btn mt-3" (click)="start()">Start</button>
</div>
